.flex_col {
  display: flex;
  flex-flow: column nowrap;
}
.flex_row {
  display: flex;
  flex-flow: row nowrap;
}
.flex_center {
  justify-content: center;
  align-items: center;
}
.grid {
  display: grid;
  grid-template: repeat(12, 1fr) / repeat(12, 1fr);
}

.desktop {
  display: none;
}
.btn {
  padding: 15px 55px;
  /* padding: 10px 20px; */
}
.btn_primary {
  background: #c07945;
  box-shadow: 0px 4px 50px rgba(21, 18, 18, 0.66);
  border-radius: 5px;
}
@media (min-width: 450px) {
  .btn {
    padding: 18px 75px;
    /* padding: 10px 20px; */
  }
  .desktop {
    display: inline-block;
  }
}
